<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="css/style-sheet-here.css">
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Gochi+Hand|Love+Ya+Like+A+Sister" rel="stylesheet"> 

	<title>1 Down, 99 To Go!</title>


</head>
<body>
	<h1>By Next Week (sooner if I'm lucky)...</h1>
	<h2>This content will be replaced by my portfolio</h2>
	<p> My goals are being set in the internet stone that is web site development:</p>
		
		<ul align="center">
			<li>Create web pages</li>
			<li>Create my portfoliolio</li>
			<li>Build a web app (or two)</li>
			<li>Launch my freelance career</li>
		</ul>
		<button type="button"><a href="http://annmariecleary.com">Home</a></button>
	<p>I have been meaning to do this for a long time, but life loves to create speed bumps. <br>
	I <strike>plan on</strike> am going to complete my <a href="http://skillcrush.com">Skill Crush</a> classes, which I started many moons ago. And I have every intention of kicking some cyber ass while doing so.
</p>
<break>
<h3>As for tonight?  Polishing up my HTML and CSS skills</h3>
<p>...while watching Criminal Minds in an evil attempt to channel my inner Penelope Garcia :-)</p>
</body>
</html>