<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Simple Business Card Website</title>
<link rel="stylesheet" type="text/css" href="css/style-sheet-here.css">
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Gochi+Hand|Love+Ya+Like+A+Sister" rel="stylesheet"> 
</head>

<body>
<div id="wrapper">
<h1 class="name">Ann Marie Santos</h1>
<h2 class="title">Website Designer</h2>
	<div class="line-break"></div>
    
    <p><span class="phone-number">(201) 380-4007</span> • Based in  Carteret, NJ • Available Worldwide via Internet • <a class="email" href="mailto: info@annmariecleary.com?Subject=Business%20Card">info@annmariecleary.com</a></p>
    
<div class="line-break"></div>

  
  <a href="http://www.annmariecleary.com" class="inspirational-quote">www.annmariecleary.com</a>
	<br><br>Please check out my 100 Days of Code Progress<a href="100 Days of Code/100 DOC.html"> 
	Days of Code</a></div>

</body>
</html>
