<DOCTYPE! html>
		<!--Coded by Ann Marie Santos 1/1/17....Happy New Year, BTW... Practicing basic html & css skills-->
	<head>
	<meta content="text/html" charset="UTF-8" http-equiv="Content-Type" />
		<title>grid setup</title>
		
	<link href="grid.css" rel="stylesheet" />
	</head>

<body>

<div class="wrapper">
	<div class="box a">Playing with grids</div>
	<div class="box b">B</div>
	<div class="box c">C</div>
	<div class="box d">D</div>
	<div class="box e">just wanted different color boxes</div>
	<div class="box f">F</div>
	<div class="box g">G</div>
	<div class="box h">H</div>
	<div class="box i">These color are really bad. </div>
</div>